<article>
  <h1><%= 'title.dashboard'.t %></h1>
  <aside>
    <%= link_to image_tag(current_account.pico_money.thumbnail), current_account.pico_money.profile %>
    <h2><%= 'transaction.wallet'.t %></h2>
    <%= render 'transactions/balance' %>
  </aside>
  <%= render 'transactions/form' %>
</article>