<%= form_for Transaction.new, url: transactions_path do |f| %>
  <div class="to">
    <%= f.label :to, 'label.transaction.to'.t %>
    <%= f.email_field :to, placeholder: 'placeholder.transaction.to'.t %>
  </div>
  <div class="amount">
    <%= f.label :amount, 'label.transaction.amount'.t %>
    <%= f.number_field :amount %>
  </div>
  <%= f.submit 'action.transfer'.t %>
<% end %>